
ion-card.md,ion-card.ios {
  height: 100vh;
  background: #00506E;
  margin: 0;
  border-radius: 0;
}
.card-content-md,.card-content-ios {
  background-color: white !important;
  z-index: 1040;
  visibility: inherit;
  padding: 16px;

  height: 350px !important;
  margin: 16px;
  border-radius: 16px;
  position: absolute;
  width:calc(100vw - 32px);
  top: 350px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
img {
  max-width: calc(100vw - 32px);
  margin: 88px 16px 0;
}
ion-button  {
  width:100%;
 }
 ion-icon.icon-input{
  font-size: 18px;
    padding: 12px;
    background-color: lightgray;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}
.header-text{
  margin-bottom: 24px;
}
.input-group{
  display: flex;
}
.input-group input{
  border: 1px solid lightgray;
  width: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 12px;
}
input:focus-visible {
  outline: .5px lightgray;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.login_loast{
  color: red;
}
.t-center{
  text-align: center;
}
.varify-code{
  border: 0.5px solid #00506e;
  text-align: center;
  border-radius: 8px;

}
.m-l-4{
  margin-left: 4px;
}
.m-r-4{
  margin-right: 4px;
}
.m-r-l-4{
  margin-left: 4px;
  margin-right: 4px;
}
