ion-icon.red {
  color: red; // your red color

}

ion-icon.green {
  color: green; // your green color

}
.header-description{
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;

}
.today-row{
  display: flex;
  justify-content: space-between;
}
ion-card.att-card{
  margin: 1rem;
  top: 40%;
  transform: translateY(-60%);
}
ion-button{
  font-size: xx-large;
}
ion-card.top-card{
  margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
